div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 240px;
}
img.frontpage {
    width: 200px;
    height: 200px;
    background-color: grey;
}
img.titlecard{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.caption {
    display: block;
}